/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Banner */
@import url("components/banner.css");
/* Btn */
@import url("components/btn.css");
/* Card */
@import url("components/card.css");
/* Social icons */
@import url("components/social-icons.css");



/* Utilities */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
  color: white;
}

a {
  text-decoration: none;
}

.how-it-works-container {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.how-it-works-container h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}


.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-container {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Custom design below! */
